.filter-list-item {
    margin-block: 0.5rem;
    cursor: grab;
}

.filter-list-item:first-of-type {
    margin-top: 0rem;
}

.filter-list-item:last-of-type {
    margin-bottom: 0;
}

.filter-list-item > .card-body {
    padding: 0.5rem 1rem;
    box-shadow: 0 0px 2px 0 rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}

.filter-list-item .form-label {
    margin-bottom: unset;
}

.filter-list-item .filterForm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-list-item .filterActions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-type {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
